@import "../Components/sass/config";
@import "../Components/sass/normalize";
@import "../Components/sass/header";
@import "../Components/sass/footer";

.cover{
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 10% 0;
    overflow: hidden;
    img{
        position: absolute;
        top: -50%;
        left: 0%;
        width: 100%;
        z-index: -1;
        filter: brightness(0.7);
    }
    .breadcumb{
        display: flex;
        li{
            list-style: none;
            a{
                color: $white;
                font-size: $xlg;
            }
        }
    }
}
.Information{
    margin: 10%;
    h1{
        font-size: $xlg;
        color: $light-blue;
    }
    p{
        font-size: $lg;
    }
}
.Call-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
    &--items{
        display: grid;
        grid-template-columns: 20% 1fr;
        place-items: start;
        svg{
            width: 5rem;
            margin-left: 5%;
        }
        div{
            h2{
                font-size: $lg;
                color: $light-blue;
            }
            p{
                font-size: $md;
            }
        }
    }
}
.form{
    display: grid;
    place-items: center;
    margin: 10%;
    h2{
        margin-bottom: 5%;
        font-size: $xlg;
        color: $light-blue;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        input{
            border: solid 0.1rem $light-blue;
            height: 5rem;
            width: 30rem;
            outline: none;
            text-align: center;
            border-radius: 7pt;
            background-color: transparent;
            font-size: $md;
        }
        input:hover, input:active, input:focus{
            border: solid 0.1rem $dark-blue;
            transform: scale(1.2);
            transition: all 0.2s;
        }
        ::placeholder{
            color: $light-blue;
            font-size: $md;
        }
        textarea{
            grid-column: 1 / 3;
            border: solid 0.1rem $light-blue;
            border-radius: 7pt;
            padding: 2%;
            outline: none;
            height: 10rem;
        }
        textarea:hover, textarea:active textarea:focus{
            border: solid 0.1rem $dark-blue;
            transform: scale(1.2);
            transition: all 0.2s;
        }
        input:last-child{
            width: 100%;
            grid-column: 1 / 3;
            background-color: $light-blue;
            color: $white;
        }
        input:last-child:hover, input:last-child:active, input:last-child:focus {
            border: none;
            background-color: $Yellow;
            transform: scale(1.2);
            transition: all 0.2s;
        }
    }
}
@import "../Components/sass/contacto-tablet";
@import "../Components/sass/contacto-movil";