@import "../Components/sass/config";
@import "../Components/sass/normalize";
@import "../Components/sass/header";
@import "../Components/sass/footer";

.Cover{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
    }
    &--Information{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 35%;
        height: 25%;
        margin-left: 5vw;
        border-radius: 7pt;
        padding: 8%;
        background-color: rgba($light-blue,0.8);
        p{
            margin-top: 1rem;
            color: $white;
            font-size: $md;
        }
        h1{
            margin: 0;
            color: $Yellow;
            font-size: 3rem;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin-top: 3rem;
            a:nth-child(1) button{
                @include main-btn-DN;
                margin-right: 3rem;
            }
            a:nth-child(1) button:hover{
                @include main-btn-DNH;
                transform: scale(1.2);
                transition: all 0.2s;
            }

            a:last-child button{
                @include secundary-btn-DN;
                margin-right: 3rem;
            }
            a:last-child button:hover{
                @include secundary-btn-DNH;
                transform: scale(1.2);
                transition: all 0.2s;
            }
        } 
    }
}
.Consorcio-Overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
    h2{
        font-size: 4rem;
        margin: 0;
    }
    p:nth-child(2){
        font-size: $lg;
        color: $light-blue;
        font-weight: bold;
    }
    p:nth-child(3){
        font-size: $md;
        margin: 2rem;
    }
    p:nth-child(5){
        font-size: $md;
    }
    .benefits{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10%;
        padding: 0% 20%;
        margin-top: 5%;
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5%;
            border: solid 0.1rem black;
            h3{
                font-size: $md;
            }
            img{
                width: 8rem;
            }
            p{
                font-size: $sm;
                text-align: justify;
            }
        }
    }
}
.services{
    width: 100%;
    &--first{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        background-color: $light-blue;
        height: 30vh;
        position: relative;
        h2{
            padding-right: 5rem;
            margin-right: 5rem;
            border-right: solid $white 0.2rem;
            color: $white;
            font-size: 4rem;
        }
        p{
            width: 30%;
            text-align: justify;
            color: $white;
            font-size: $md;
        }
    }
    &--cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 10%;
        gap: 5rem;
        position: relative;
        background-color: $white;
        height: 70vh;
        &__item{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            position: relative;
            padding: 10%;
            img{
                position: absolute;
                top: -3%;
                left: 0%;
                z-index: 1;
                width: 90%;
                height: 100%;
                padding: 5%;
                background-color: $white;
                border-radius: 7pt;
                filter: opacity(0.9);
            }
            h3{
                z-index: 2;
                align-self: end;
                margin-right: 5%;
                color: $white;
                font-size: $lg;
            }
            a{
                margin: 0;
                padding: 0;
                width: auto;
                height: auto;
                z-index: 2;
                align-self: end;
                margin-bottom: 3rem;
                button{
                    @include secundary-btn-DN;
                    transform: scale(0.8);
                }
                button:hover{
                    @include secundary-btn-DNH;
                    transform: scale(0.8);
                }
            }
        }
    }
    &--thrid{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        width: 100%;
        background-color: $light-blue;
        div{
            h2{
                color: $white;
                font-size: $lg;
            }
            p{
                color: $white;
                font-size: $md;
                width: 90%;
            }
        }
        a{
            button{
                @include secundary-btn-DN;
            }
            button:hover{
                @include secundary-btn-DNH;
            }
        }
    }
}
.counter{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    img{
        position: absolute;
        left: 0;
        top: -55%;
        width: 100%;
        z-index: -1;
    }
    &--Background{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($light-blue,0.5);
        z-index: 0;
        h2{
            width: 50%;
            color: $white;
            font-size: $xlg;
            text-align: center;
            strong{
                color: $Yellow;
            }
        }
    }
    &--Container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10%;
        &__item{
            p:first-child{
                font-size: $xlg;
                color: $white;
                text-align: center;
                font-weight: bold;
            }
            p:last-child{
                font-size: $lg;
                color: $light-blue;
                background-color: $white;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
iframe{
    width: 100%;
    height: 200rem
}
.Video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    h2{
        margin-bottom: 0;
        font-size: $xlg;
    }
    p{
        width: auto;
        margin-bottom: 7vh;
        border-bottom: solid $Yellow 0.2rem;
        text-align: center;
        font-weight: bold;
        font-size: $lg;
        color: $light-blue;
    }
}
.Form-Section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    &--Benefits{
        padding: 10%;
        h2{
            font-size: $xlg;
        }
        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            svg{
                margin-right: 8%;
            }
            div{
                h3{
                    color: $light-blue;
                    font-size: $md;
                }
                p{
                    font-size: $sm;
                }
            }
        }
    }
    &--Form{
        position: relative;
        width: 60%;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($light-blue,0.8);
            h2{
                color: $white;
                font-size: $lg;
            }
        }
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
           ::placeholder{
            color: $white;
           }
            input{
                border: 0.1rem solid $white;
                background-color: transparent;
                width: 100%;
                height: 3rem;
                color: $white;
                outline: none;
            }
            input:hover, input:active, input:focus{
                transform: scale(1.1);
                border-color: $Yellow;
                color: $Yellow;
                transition: all 0.2s;
            }
            select{
                border: 0.1rem solid $white;
                width: 100%;
                height: 3rem;
                background-color: transparent;
                color: $white;
                outline: none;
                option{
                    color: $light-blue;
                }
            }
            select:hover, select:active, select:focus{
                transform: scale(1.1);
                border-color: $Yellow;
                color: $Yellow;
                transition: all 0.2s;
            }
            textarea{
                grid-column: 1 / 3;
                border: solid 0.1rem $white;
                background: transparent;
                color: $white;
                outline: none;
            }
            textarea:hover, textarea:active, textarea:focus{
                transform: scale(1.1);
                border-color: $Yellow;
                color: $Yellow;
                transition: all 0.2s;
            }
            input:last-child{
                grid-column: 1 / 3;
                @include main-btn-DN;
                justify-self: center;
            }
            input:last-child:hover, input:last-child:active, input:last-child:focus{
                @include main-btn-DNH;
            }
        }
    }
}
@import "../Components/sass/index-movil";
@import "../Components/sass/index-tablet";