@media only screen and (max-width: 1024px) and (min-width: 744px){
    .Cover{
        width: 100vw;
        height: 100vh;
        img{
            width: auto;
            height: 100%;
        }
        position: relative;
        &--Information{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10%;
            width: 50vw;
            height: 50vh;
            margin-left: 25%;
            padding: 0;
            p{
                width: 80%;
                margin-top: 1rem;
                text-align: center;
                color: $white;
                font-size: $md;
            }
            h1{
                width: 80%;
                margin: 0;
                text-align: center;
                color: $Yellow;
                font-size: $lg;
            }
            div{
                flex-direction: column;
                justify-content: center;
                width: 80%;

                a:nth-child(1) button{
                    @include main-btn-DN;
                    margin: 0;
                    width: 100%;
                }
                a:nth-child(1) button:active{
                    @include main-btn-DNH;
                    transition: all 0.2s;
                }
    
                a:last-child button{
                    @include secundary-btn-DN;
                    margin-top: 2rem;
                    width: 100%;
                }
                a:last-child button:active{
                    @include secundary-btn-DNH;
                    transition: all 0.2s;
                }
                a{
                    width: 100%;
                }
            } 
        }
    }  
    .Consorcio-Overview{
        padding-top: 0;
        margin-top: 10%;
        h2{
            font-size: $xlg;
        }
        p:nth-child(2){
            font-size: $md;
        }
        p:nth-child(3){
            margin: 2rem;
            text-align: center;
            font-size: $md;
        }
        p:nth-child(5){
            align-self: center;
            text-align: justify;
            width: 60%;
            font-size: $md;
            margin-top: 50%;
        }
        .benefits{
            display: grid;
            grid-template-columns: 1fr;
            gap: 10%;
            padding: 10%;
            margin-top: 5%;
            &__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15%;
                border: solid 0.1rem $light-blue;
                h3{
                    font-size: $xlg;
                }
                img{
                    width: 6rem;
                }
                p{
                    font-size: $md;
                    text-align: center;
                }
            }
        }
    }
    .services{
        width: 100%;
        height: auto;
        &--first{
            flex-direction: column;
            margin-top: 10%;
            height: 40vh;
            h2{
                padding-right: 0;
                margin-right: 0;
                border-right: none;
                font-size: 4rem;
            }
            p{
                width: 80%;
                font-size: $md;
            }
        }
        &--cards{
            display: grid;
            grid-template-columns: 1fr;
            margin:0;
            height: auto;
            &__item{
                display: flex;
                flex-direction: column;
                img{
                    align-self: center;
                    position: static;
                    width: 100%;
                    padding: 0;
                    background-color: $light-blue;
                    border-radius: 7pt;
                    filter: opacity(0.9);
                }
                h3{
                    z-index: 2;
                    align-self: end;
                    margin-right: 5%;
                    color: $light-blue;
                    font-size: $xlg;
                }
                a{
                    margin: 0;
                    padding: 0;
                    width: auto;
                    height: auto;
                    z-index: 2;
                    align-self: end;
                    margin-bottom: 3rem;
                    button{
                        @include main-btn-DP;
                    }
                }
            }
        }
        &--thrid{
            flex-direction: column;
            padding: 0;
            div{
                padding-top: 10%;
                h2{
                    width: 100%;
                    text-align: center;
                }
                p{
                    width: 100%;
                    text-align: center;
                }
            }
            a{
                padding: 10%;
                button{
                    @include secundary-btn-DN;
                    width: 30vw;
                }
                button:hover{
                    @include secundary-btn-DNH;
                }
            }
        }
    }   
    .counter{
        padding: 10% 0;
        height: 100vh;
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: auto;
            height: 100%;
            z-index: -1;
        }
        &--Background{
            padding-bottom: 10%;
            h2{
                width: 80%;
                color: $white;
                font-size: $xlg;
                text-align: center;
            }
        }
        &--Container{
            grid-template-columns: 1fr 1fr;
            gap: 10%;
            &__item{
                p:first-child{
                    font-size: $xlg;
                    color: $white;
                    text-align: center;
                    font-weight: bold;
                }
                p:last-child{
                    font-size: $lg;
                    color: $light-blue;
                    background-color: $white;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }  
    .Video-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        h2{
            width: 80%;
            text-align: center;
        }
        p{
            width: 80%;
        }
        iframe{
            width: 80vw;
        }
    }
    .Form-Section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 250vh;
        &--Benefits{
            place-items: center;
            padding: 10%;

            h2{
                text-align: center;
            }
        }
        &--Form{
            position: relative;
            width: 100%;
            height: 100%;
            form{
                grid-template-columns: 1fr;
                place-items: center;
                width: 100%;
                input{
                    width: 60%;
                }
                select{
                    width: 60%;
                }
                textarea{
                    grid-column: 1;
                    width: 60%;
                }
                input:last-child{
                    grid-column: 1;
                    width: 60%;
                }
                input:last-child:hover, input:last-child:active, input:last-child:focus{
                    @include main-btn-DNH;
                }
            }
        }
    }
}