.blog{
    margin: 0 10%;
    h2{
        width: 25%;
        font-size: $xlg;
        border-bottom: solid 0.2rem $Yellow;
        strong{
            color: $light-blue;
        }
    }
    &--Container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10%;
        img{
            width: 100%;
            height: 40vh;
            background-color: $dark-blue;
        }
        h3{
            font-size: $md;
        }
        p:nth-last-child(2){
            color: $light-blue;
            font-size: $sm;
        }
        p:last-child{
            font-size: $sm;
            text-align: justify;
        }
    }
}
@media only screen and (max-width: 743px) and (min-width: 360px){
    .blog{
        padding-bottom: 10%;
        margin: 0 10%;
        height: auto;
        height: 220vh;
        h2{
            width: 50%;
        }
        &--Container{
            display: grid;
            grid-template-columns: 1fr;
            gap: 10%;
            img{
                width: 100%;
                height: 40vh;
                background-color: $dark-blue;
            }
            h3{
                font-size: $md;
            }
            p:nth-last-child(2){
                color: $light-blue;
                font-size: $sm;
            }
            p:last-child{
                font-size: $sm;
                text-align: justify;
            }
        }
    }
}
@media only screen and (max-width: 1024px) and (min-width: 744px){
    .blog{
        padding-bottom: 10%;
        margin: 0 10%;
        height: auto;
        height: 150vh;
        h2{
            width: 50%;
        }
        &--Container{
            display: grid;
            grid-template-columns: 1fr;
            gap: 10%;
            img{
                width: 100%;
                height: 30vh;
                background-color: $dark-blue;
            }
            h3{
                font-size: $md;
            }
            p:nth-last-child(2){
                color: $light-blue;
                font-size: $sm;
            }
            p:last-child{
                font-size: $sm;
                text-align: justify;
            }
        }
    }
}